.container{

display: flex;

flex-direction: column;

height: 100vh;

justify-content: center;
align-items: center;

}

.entradas{

flex-direction: column;

}


input{

max-width: 2em;

font-size: 3em;

}


h1{

font-size: 5em;

font-family: arial;

color: #BA55D3 ;

}


button{

font-size: 4em;

background-color: White;

border: 0px;

color: #BA55D3;

elevation: 20px;

}


#NumSort{

list-style: none;

font-size: 3em;

}


#numSort li{

display: inline;

}
